<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="HostName" value="smtp.gmail.com" />
    <add key="UserName" value="sdm.os46@gmail.com" />
    <add key="Password" value="sdm#e2012"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--<network host="smtp.gmail.com" userName="sdei.sdms@gmail.com" password="sdei#007" enableSsl="true" defaultCredentials ="false"/>-->
        <network host="smtp.gmail.com" userName="sdm.os46@gmail.com" password="sdm#e2012" enableSsl="true" defaultCredentials ="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="None" />
    <membership defaultProvider="Demo_MemberShipProvider">
      <providers>
        <add connectionStringName="cnn" enablePasswordRetrieval="false"
         enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/"
         requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5"
         minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"
         passwordAttemptWindow="10" passwordStrengthRegularExpression=""
         name="Demo_MemberShipProvider" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="DemoRoles">
      <providers>
        <add connectionStringName="cnn" applicationName="/" name="Demo_RoleProvider"
         type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DetectorService.ForgotPassword">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
          binding="webHttpBinding" bindingConfiguration="" contract="DetectorService.IForgotPassword" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://50.23.221.50/detactorinspector/LoginService" />
          </baseAddresses>
        </host>
      </service>
      <service name="DetectorService.login">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
          binding="webHttpBinding" bindingConfiguration="" contract="DetectorService.Ilogin" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://50.23.221.50/detactorinspector/LoginService" />
          </baseAddresses>
        </host>
      </service>
      <service name="DetectorService.Booking">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
          binding="webHttpBinding" bindingConfiguration="" contract="DetectorService.IBooking" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://50.23.221.50/detactorinspector/LoginService" />
          </baseAddresses>
        </host>
      </service>
       <service name="DetectorService.TechnicianSync">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
          binding="webHttpBinding" bindingConfiguration="" contract="DetectorService.ITechnicianSync" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://50.23.221.50/detactorinspector/TechnicianSync" />
          </baseAddresses>
        </host>
      </service>
      
      <!--<service name="DetectorService.TechnicianSync">
        <endpoint address="" behaviorConfiguration="DetectorService.TechnicianSyncAspNetAjaxBehavior"
          binding="webHttpBinding" contract="DetectorService.TechnicianSync" />
      </service>-->
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <!--<webHttp />-->
         <webHttp defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" defaultBodyStyle="WrappedRequest" />
        </behavior>
        <behavior name="DetectorService.TechnicianSyncAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=50.23.221.50,1407;Initial Catalog=detectorinspector;User ID=detector;Password=detector" providerName="System.Data.EntityClient"/>
    <!--<add name="cnn" connectionString="Data Source=database01;Initial Catalog=radpdf;User ID=radpdf;Password=radpdf" providerName="System.Data.EntityClient"/>-->
    <!--<add name="cnn" connectionString="Data Source=database01;Initial Catalog=detectorInspector;User ID=detector;Password=detector" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>

